/*========================================
                HOJA DE ESTILO  
  ========================================*/
/*====================
        General  
  ====================*/
body {
  box-sizing: border-box;
  background-color: rgb(252, 244, 235);
}

/*====================
    Bloque cabecera  
  ====================*/
header {
  background-color: rgb(156, 55, 8);
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
}


/*====================
    Bloque componentes  
  ====================*/
#components {
  float: left;
  background-color: white;
  border: 2px solid rgb(156, 55, 8);
  padding: 10px;
  margin: 30px 20px 20px 20px;
  width: 40%;
}

.mainTitle {
  color: brown;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px 10px 10px;
}

.title td,
#cart p {
  background-color: rgb(156, 55, 8);
  color: white;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 2px;
}

table {}

/*====================
    Bloque derecho  
  ====================*/

#intro {
  margin: 2% 1% 2% 2%;
  text-align: left;
  font-size: 18px;
  line-height: 1.1;
}

.rightZone {
  position: relative;
  float: left;
  width: 40%;
}

/*====================
    Bloque carrito  
  ====================*/

#cart {
  background-color: white;
  border: 2px solid rgb(156, 55, 8);
  padding: 10px;
  margin: 10px;
}

#selectedGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/*====================
    Bloque ticket  
  ====================*/
#ticket {
  background-image: url("../img/ticketpaper.jpg");
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

#ticket p {
  padding: 5px;
}

.ticketTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  letter-spacing: 2px;
}

/*====================
    Bloque créditos  
  ====================*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(156, 55, 8);
  color: whitesmoke;
  line-height: 1.1;
}